.img {
  display: block;
  width: 100%;
  height: 30rem;
  object-fit: contain;
  padding: 1rem;
}

.carouselBody {
  width: 100%;
  height: 30rem;
  border: white solid 0.1rem;
}
@media (max-width: 768px) {
}
@media (max-width: 375px) {
  .carouselBody {
    height: 18rem;
    width: 95%;
    margin: auto;
  }
  .img {
    height: 17rem;
  }
}
