.nav {
  display: flex;
  flex-direction: column;
  background-image: url(https://i.pinimg.com/originals/ea/1d/97/ea1d9797c9bf3dda7a23b238e5e4b364.jpg);
}
.input.input.input {
  width: 45vw;
  border-radius: 5.5rem;
}
.hamburger {
  background-color: white;
}
.hamburger:hover {
  background-color: #fe1d26;
}
