.li {
  margin: 0;
  a {
    text-decoration: none;
  }

  div {
    margin: 0;
    width: 25rem;
    height: 30rem;
    margin-bottom: 2rem;
    color: black;

    p {
      height: 8rem;
      overflow: hidden;
      overflow-y: auto;
      text-align: justify;
    }
  }
}

.img {
  width: 100%;
  height: 17rem;
  object-fit: cover;
}

.ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
  margin: 1rem;
  padding: 0;
  justify-content: center;
}
.input {
  width: 20%;
  margin-right: 0.5rem;
  border-radius: 5rem;
}
@media (max-width: 375px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .input {
    width: 70%;
  }
  .ul {
    gap: 1rem;
    padding: 0;
    margin: auto;
    .li {
      margin: auto;

      div {
        width: 21rem;
      }
    }
  }
  .img {
    height: 15rem;
    font-size: small;
  }
}

@media (max-width: 768px) {
  .input {
    width: 40%;
  }

  .ul {
    gap: 1rem;
    padding: 0;
    margin: 1rem;

    .li {
      div {
        width: 20rem;
        height: 25rem;
        font-size: small;

        .img {
          height: 13rem;
        }
      }
    }
  }
}
