.loginBody {
  width: 30%;
  margin: auto;
  background-color: rgb(246, 246, 246);
  margin-top: 5rem;
  padding: 1rem;
  border-radius: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    width: 80%;
    border-radius: 8rem;
    border: black solid 0.15rem;
    padding-left: 1rem;
  }
}
.firstDiv {
  background-image: url(https://i.pinimg.com/originals/ea/1d/97/ea1d9797c9bf3dda7a23b238e5e4b364.jpg);
  padding-bottom: 21.8%;
}
